<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBroadcast" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8085/basic" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBroadcast" contract="ServiceReference1.IBroadcast"
                name="NetTcpBinding_IBroadcast">
                <identity>
                    <userPrincipalName value="ASIAPACIFIC\INVICHA2" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>